<div class="bg-gray-300">
  <div
    class="max-w-4xl m-auto flex flex-col sm:flex-row items-center justify-evenly py-8 gap-4"
  >
    <div class="py-5">
      <h5 class="py-1 text-2xl">Message Me!</h5>
      <form
        [formGroup]="emailForm"
        (ngSubmit)="onSubmit()"
        class="flex flex-col gap-3 min-w-64 w-[80vw] sm:w-[30vw] sm:max-w-xl"
      >
        <input
          formControlName="name"
          type="text"
          name="name"
          id="name"
          autofill="name"
          placeholder="Name"
          class="bg-white rounded-lg p-3"
        />
        <input
          formControlName="email"
          type="email"
          name="email"
          id="email"
          autofill="email"
          placeholder="Email Address"
          class="bg-white rounded-lg p-3"
        />
        <label>
          <textarea
            formControlName="message"
            rows="5"
            name="messageBody"
            id="messsageBody"
            placeholder="Message"
            class="bg-white rounded-lg p-3 mb-0 w-full"
          ></textarea>
        </label>
        <button
          [ariaDisabled]="!emailForm.valid"
          type="submit"
          class="bg-blue-700 aria-disabled:bg-blue-500 rounded-lg p-3 text-white mt-0"
        >
          Submit
        </button>
      </form>
    </div>
    <div class="flex flex-col gap-4 items-center justify-center w-64">
      <app-about-me-buttons [inNav]=false/>
      <p class="text-center">Made with Love, and Angular</p>
    </div>   
  </div>
</div>

<div class="fixed z-50 bottom-4 flex justify-center w-full">
  <div class="backdrop-blur-md rounded-xl max-w-[90vw]" [class]="feedbackSuccessClass" [style]="{ 'opacity': showMessage ? '1' : '0' }" style="transition: opacity 1s ease-out;">
    <h4 class="font-bold text-xl text-center text-black px-4 py-2">{{feedbackMessage}}</h4>
  </div>
</div>

@if (loading) {
<div class="fixed inset-0 z-80 flex justify-center items-center bg-gray-900/20 backdrop-blur-xs w-full h-screen">
  <div class="flex flex-col items-center gap-4 bg-gray-100/80 px-12 py-6 rounded-lg">
    <span class="loaderEnvelope"></span>
    <p>Sending your message...</p>
  </div>
</div>
}
