<div class="bg-black">
  <img ngSrc="hero.webp" width="3994" height="3020" priority class="w-screen h-screen object-cover object-center lg:object-[center_30%] block relative opacity-80 z-20">
  <div class="absolute z-30 top-0 left-0 w-full h-full flex justify-center items-center">
    <div class="h-fit mt-[10vh]">
      <p class="text-3xl md:text-4xl text-white">Hello! I am a</p>
      <h1 class="text-4xl sm:text-5xl md:text-6xl lg:text-7xl 2xl:text-8xl text-white mb-2 text-center">Full Stack Application Developer</h1>
      <p class="text-3xl md:text-4xl text-right text-white">Welcome to my Website</p>
    </div>
  </div>
</div>
