<div class="bg-black block h-screen">
  <img
    #heroImage
    ngSrc="hero.webp"
    fill
    priority
    class="w-screen h-screen object-cover object-center lg:object-[center_30%] block absolute opacity-80 z-20"
  />
  <div
    class="absolute z-30 top-0 left-0 w-full h-full flex justify-center items-center"
  >
    <div class="h-fit mt-[10vh] typewriter mx-[4vw]">
      <div class="text-3xl md:text-4xl text-white">
        <span #typedText1></span>
        <span #cursor1 class="cursor">|</span>
      </div>

      <div
        class="text-4xl sm:text-5xl md:text-6xl lg:text-7xl 2xl:text-8xl text-white text-center"
      >
        <span #typedTextMain class="bigText"></span>
        <span #cursorMain class="hidden cursor">|</span>
      </div>

      <div class="text-3xl md:text-4xl h-8 text-right text-white">
        <span #typedText2></span>
        <span #cursor2 class="hidden cursor">|</span>
      </div>
    </div>
  </div>
</div>
