<div class="m-8">
  <h3 class="mb-8 text-5xl">My Latest Projects</h3>
  <div
    class="flex overflow-x-auto flex-nowrap snap-x snap-mandatory scroll-smooth no-scrollbar space-x-4"
    #scrollContainer
    (scroll)="onScroll()"
  >
    @for (card of cards; track card.name) {
      <app-project-card [data]="card" />
    } @empty {
    <li>There are no items.</li>
    }
  </div>

  <!-- Dot indicators -->
  <div class="flex justify-center mt-4 space-x-2">
    @for (card of cards; track card.name; let i = $index) {
    <div
      class="w-3 h-3 rounded-full"
      [class]="{
        'bg-blue-600': i === activeIndex,
        'bg-gray-300': i !== activeIndex
      }"
    >
      <!-- The Dot -->
    </div>
    }
  </div>
</div>
